@font-face {
    font-family: "zhuquefangsong";
    src: url(../fonts/ZhuqueFangsong-Regular.ttf);
}

:root {
    /* --bg-color: #e4e4e4; */
    --bg-color: #f1eaff;
    --box-color: rgba(253, 244, 245, 0.9);
    --tab-color: rgba(228, 221, 242, 0.9);
    --input-color: rgba(252, 240, 242);
    --text-color-light: #5f3a69;
    --text-color-dark: #5f3a69;
}

body {
    background-color: #f1eaff;
    margin: 0;
    padding: 0;
}

#my-canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.wallpaper {
    display: none;
    position: fixed;
    z-index: -1;
    overflow: hidden;

    height: 100%;
    /* width: 100%; */

}

.wallpaper img {
    width: 100%;
}

/* 导航栏 */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1112px;
    height: 60px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--box-color);
}

.header-left {
    margin: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 42px;
    margin: 0 20px;
}

.logo span {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-light);
}

.searchbox {
    flex-grow: 1;
    max-width: 500px;
    min-width: 150px;
}

.searchbox form {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.search-word {
    flex-grow: 1;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bg-color);
    font-size: 14px;
}

.search-button {
    height: 40px;
    width: 50px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: var(--text-color-light);
    font-size: 20px;
    font-weight: 500;
}

.header-right {
    margin: 0 20px;
}

.header-right svg {
    height: 30px;
    width: 30px;
    fill: var(--text-color-light);
}

/* 一言 */
.yiyan-box {
    display: flex;

    width: 50%;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;

    color: var(--text-color-light);
}

.yiyan-content {
    display: flex;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
}

.bracket-left {
    display: flex;
    align-items: start;
    font-size: 26px;
}

.yiyan-word {
    font-size: 22px;
    text-align: center;
    padding: 20px 20px;
}

.bracket-right {
    display: flex;
    align-items: end;
    font-size: 26px;
}


.yiyan-author {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    margin-top: 20px;
    padding-right: 10px;
}

.content {
    display: flex;

}

.sidebar {
    width: 150px;
    flex-grow: 1;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-sidebar img {
    width: 50%;
    padding-left: 10%;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-sidebar img {
    width: 60%;
    padding-right: 10%;
}

/* 中间主内容 */
.main-index {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1210px;
    margin: 0 auto;
}

/* 课表 */
.schedule {
    width: 400px;
    /* margin: 0 10px; */
    margin: 0px 0;
    padding: 0 10px;
    border-radius: 10px;
    background-color: var(--box-color);
}

/* 主要内容，包含网址导航和那年今日 */
.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 10px;
}

/* 网站 */
.websites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 620px;
    padding: 15px 0;
    border-radius: 10px;
    background-color: var(--box-color);
}

.website-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 300px;
}

.typename {
    width: 100%;
    margin: 10px 0;
    padding-left: 16px;

    color: var(--text-color-light);
    font-size: 18px;
    font-weight: 600;
}

.websitename {
    /* 此处用flex是为了a可以用grow来填充整个box */
    display: flex;

    width: 30%;
    margin: 2px;
    border-radius: 6px;
    background-color: var(--tab-color);

    font-size: 14px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
}

.websitename :hover {
    box-shadow: 2px 0px 6px 0 rgba(0, 0, 0, 0.18), -2px 0px 6px 0 rgba(0, 0, 0, 0.18), 0px 5px 6px 0 rgba(0, 0, 0, 0.18);
    -webkit-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
}

.websitename a {
    /* 此处用grow是为了让a的范围填充整个box */
    flex-grow: 1;
    border-radius: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
    color: var(--text-color-dark);
}

/* .websitename a:hover {
    color: var(--fr-color);
    font-weight: 800;
    border-radius: inherit;
    background: #4e70aa
} */

.old-days {
    padding: 15px 0;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--box-color);

    max-width: 620px;
    /* height: 300px; */
}

.old-days-title {
    padding-left: 16px;

    color: var(--text-color-light);
    font-size: 18px;
    font-weight: 600;
}

.old-days-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 20px;
}

.old-days-img-box {
    display: flex;
    justify-content: center;
    height: 180px;
    width: 320px;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.old-days-img-box img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;

    animation: scaleAnimation 5s linear;
    transition: transform 5s;
}

.old-days-text-box {
    flex: 1;
    margin: 0px 10px;
    color: var(--text-color-light);
}

.old-days-date {
    font-size: 18px;
    margin: 8px 0;
}

.old-days-text {
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1112px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--fr-color); */
}

.footer-text {
    flex-grow: 1;

    color: #b2b2b2;
    font-size: 12px;
    text-align: center;
}

.footer img {
    height: 100%;
}

@media only screen and (max-width: 1350px) and (min-width: 1040px) {

    .websites {
        width: 400px;
    }

    .yiyan-box {
        width: 70%;
    }
}

@media only screen and (max-width: 1040px) and (min-width: 720px) {

    .yiyan-box {
        width: 70%;
        margin-top: 35px;
    }

    .sidebar {
        display: none;
    }

    .websites {
        width: 400px;
    }
}

@media only screen and (max-width: 720px) {

    .sidebar {
        display: none;
    }

    .yiyan-box {
        width: 100%;
        margin-top: 20px;
    }

    .bracket-left {
        font-size: 20px;
    }

    .yiyan-word {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 10px;
    }

    .bracket-right {
        font-size: 20px;
    }

    .yiyan-author {
        font-size: 14px;
        margin-top: 10px;
        padding-right: 20px;
    }

    .header-left {
        margin: 0 10px;
    }

    .logo img {
        margin: 0;
    }

    .logo span {
        display: none;
    }

    .search-button {
        display: none;
    }

    .header-right {
        margin: 0 10px;
    }

    .main-index {
        width: 100%;
    }

    .schedule {
        width: 100%;
    }
}