html,
body {
    height: 100%;
    margin: 0;
    background: #f2f0f3;
}

footer,header,main,section,summary {
	display:block
}
.container{
    max-width: 960px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    background: #c9a0d6;
}
header .logo {
    float: left;
    z-index: 99;
    margin: 0;
    border: none;
    display: block;
    line-height: 49px;
    font-size: 24px;
    font-weight: 400;
    padding-left: 20px;
}

header .logo img {
    width: 50px;
    vertical-align: -15px;
}
header .logo span {
    color: #FFFFFF;
}

.main-index{
    background: #f2f0f3;
	margin-right:auto;
	margin-left:auto;
    margin-top: 0px;
    padding-top: 60px;
    max-width: 1200px;
    /* margin: 20px; */
}
.search-box{
    position: relative;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    height: 60px;
    width: 700px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

form {
    text-align: center;
    height: 50px;
    width: 700px;
    margin: auto;
}

form .search-word{
    box-sizing: border-box;
    flex: 1;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    font-size: 16px;
    width: 500px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid #c9a0d6;
    background-color: #f2f0f3;
}
form .search-button{
    width: 90px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    background-color: #c9a0d6;
    color: #FFFFFF;
    font-size: 14px;
    border: 0;
}

.type-box {
    margin-right: -10px;
    margin-left: -10px;
}

.container-box {
    float: left;
    padding: 0px 20px;
    margin-bottom: 10px;
    width: 30%;
}

.container-box a {
    background: rgba(255, 255, 255, 1);
    text-align: center;
    display: block;
    line-height: 45px;
    border-radius: 2px;
    font-size: 14px;
    color: #4e4e4e;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 400;
    background-color: #ffffff;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.link-name{
    FONT-WEIGHT: 200;
    float: left;
    width: 30%;
    margin: 1px;
    padding: 2px;
}

.container-box a:hover {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    background: #c9a0d6
}

/* .footer{
    height: 50px;
    margin-top: -50px;
} */