@font-face {
    font-family: "zhuquefangsong";
    src: url(../fonts/ZhuqueFangsong-Regular.ttf);
}

:root {
    /* --bg-color: #e4e4e4; */
    --bg-color: #d7e2e4;
    --fr-color: #ffffff;
    --text-color: #444;
    --hl-cloro: #7dd1e2;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

.wallpaper {
    position: absolute;
    z-index: -1;
    overflow: hidden;

    height: 400px;
}

.wallpaper img {
    width: 100%;
}
/* 导航栏 */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1112px;
    height: 60px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--fr-color);
}

.header-left {
    margin: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 45px;
    margin: 0 20px;
}

.logo span {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.searchbox {
    flex-grow: 1;
    max-width: 500px;
    min-width: 150px;
}

.searchbox form {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.search-word {
    flex-grow: 1;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bg-color);
    font-size: 14px;
}

.search-button {
    height: 40px;
    width: 50px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.header-right {
    margin: 0 20px;
}

.header-right svg {
    height: 30px;
    width: 30px;
    fill: #ffffff
}

/* 一言 */
.yiyan-box {
    display: flex;

    width: 50%;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;

    color: var(--fr-color);
}

.yiyan-content {
    display: flex;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
}

.bracket-left {
    display: flex;
    align-items: start;
    font-size: 26px;
}

.yiyan-word {
    font-size: 22px;
    text-align: center;
    padding: 20px 20px;
}

.bracket-right {
    display: flex;
    align-items: end;
    font-size: 26px;
}


.yiyan-author {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    margin-top: 20px;
    padding-right: 10px;
}

.content {
    display: flex;

}

.sidebar {
    width: 150px;
    flex-grow: 1;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 中间主内容 */
.main-index {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1210px;
    margin: 0 auto;
}

/* 课表 */
.schedule {
    width: 400px;
    margin: 8px 8px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: var(--fr-color);
}

/* 中间内容 */
.main-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 620px;
    margin: 8px 8px;
}
/* 网站 */
.websites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 15px 0;
    border-radius: 10px;
    background-color: var(--fr-color);
}


.website-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 300px;
}

.typename {
    width: 100%;
    margin: 10px 0;
    padding-left: 16px;
    
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

.websitename {
    /* 此处用flex是为了a可以用grow来填充整个box */
    display: flex;
    
    width: 30%;
    margin: 2px;
    border-radius: 6px;
    background-color: var(--bg-color);

    font-size: 14px;
    font-weight: 800;
    line-height: 45px;
    text-align: center;
}
.websitename :hover {
    box-shadow: 2px 0px 6px 0 rgba(0,0,0,0.18),-2px 0px 6px 0 rgba(0,0,0,0.18),0px 5px 6px 0 rgba(0,0,0,0.18);
    -webkit-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
}
.websitename a {
    /* 此处用grow是为了让a的范围填充整个box */
    flex-grow: 1;
    border-radius: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
    color: var(--ft-color);
}

/* .websitename a:hover {
    color: var(--fr-color);
    font-weight: 800;
    border-radius: inherit;
    background: #4e70aa
} */

.sameday {
    margin: 16px 0;
    border-radius: 10px;
    background-color: var(--fr-color);
}

.sameday p {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1112px;
    height: 80px;
    margin: 0 auto;
    margin-top: 50px;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--fr-color); */
}
.footer-text {
    flex-grow: 1;

    color: #b2b2b2;
    font-size: 12px;
    text-align: center;

}

@media only screen and (max-width: 1350px) and (min-width: 1040px) {

    .websites {
        width: 300px;
    }

    .yiyan-box {
        width: 70%;
    }
}

@media only screen and (max-width: 1040px) and (min-width: 720px) {

    .yiyan-box {
        width: 70%;
        margin-top: 35px;
    }

    .sidebar {
        display: none;
    }

    .websites {
        width: 300px;
    }
}

@media only screen and (max-width: 720px) {

    .sidebar {
        display: none;
    }

    .yiyan-box {
        width: 100%;
        margin-top: 20px;
    }

    .bracket-left {
        font-size: 20px;
    }

    .yiyan-word {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 10px;
    }

    .bracket-right {
        font-size: 20px;
    }

    .yiyan-author {
        font-size: 14px;
        margin-top: 10px;
        padding-right: 20px;
    }

    .header-left {
        margin: 0 10px;
    }

    .logo img {
        margin: 0;
    }

    .logo span {
        display: none;
    }

    .search-button {
        display: none;
    }

    .header-right {
        margin: 0 10px;
    }

    .main-index {
        width: 100%;
    }

    .schedule {
        width: 100%;
    }
}